$white: hsl(0, 0%, 100%);
$cyan: hsl(179, 62%, 43%);
$ltCyan: hsl(179, 47%, 53%);
$yellow: hsl(71, 73%, 54%);
$ltGray: hsl(204, 43%, 93%);
$grayBlue: hsl(218, 22%, 67%);
$ltGrayBlue: hsl(219, 44%, 90%);
